* {
    padding: 0;
    margin: 0;


}

body {
    width: 100vw;
    height: 100vh;
}

.logo-img {

    height: 100vh;

}


body button {
    font-size: 30px;
    background-color: rgb(215, 95, 183);
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;

}

#game-board {
    background-color: black;
    font-style: unset;
    color: white;
    font-size: 60px;
    text-align: center;

}

#canvas {
    display: none;
}

#game-over {
    background-color: black;
    display: none;
    text-align: center;

}


.over-img {
    height: 100vh;

}