body {
    padding: 0;
    margin: 0;
    text-align: center;

}


.logo-img {
    width: 900px;
    height: 500px;

}


body button {
    font-size: 30px;
    background-color: rgb(215, 95, 183);
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

#game-board {
    background-color: black;
    font-style: unset;
    color: white;
    font-size: 60px;

}